In [3]:
from src.feature_matrix import CreateFeatureMatrix
import pandas as pd
from src.mind import MINDSmallData

In [4]:
data = ['This is a tool for building a content recommender',
        'Content recommenders can be challenging to evaluate',
        'Sports readers typically enjoy sports recommendations',
       'MIND is a userful dataset for studying recommender',
       'medium.com is difficult to scrape from']
create = CreateFeatureMatrix(data, MIND=False, n_components=2)

In [5]:
create.featurize()

In [6]:
create.feature_matrix

array([[0.49996628, 0.50003372],
       [0.25936291, 0.74063709],
       [0.5       , 0.5       ],
       [0.7406295 , 0.2593705 ],
       [0.5       , 0.5       ]])

In [4]:
mind = MINDSmallData('../data/news.tsv', '../data/behaviors.tsv')

In [5]:
mind.clean_user_data()

/Users/stevenborodach/opt/anaconda3/lib/python3.7/site-packages/numpy/core/_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

In [18]:
mind.user_data

       User ID                                      Read Articles
107690    U100  N20121 N33998 N45954 N55743 N50095 N18870 N534...
46639    U1000     N29641 N1789 N41244 N29739 N7670 N58656 N53875
60202   U10001  N47937 N51706 N56447 N61319 N27644 N18030 N272...
46692   U10003  N39074 N26619 N31431 N1282 N61052 N41668 N5083...
46854   U10008  N23912 N30148 N46754 N33117 N9619 N36526 N4449...
...        ...                                                ...
142654   U9993                        N47458 N14114 N22257 N30648
104405   U9995  N61471 N61704 N49103 N63554 N44399 N32117 N218...
76920    U9996  N28296 N4719 N60340 N31165 N8448 N287 N47098 N...
62952    U9997  N46759 N46990 N9072 N11727 N50744 N38367 N3333...
122508   U9999  N64503 N20039 N447 N10865 N59026 N12972 N25577...

[49108 rows x 2 columns]